.conteiner {
    width: 85%;
    margin: 10px auto;
    h2 {
        margin-bottom: 0px;
        color: #000;
    }
    h5 {
        margin-top: 5px;
        color: #b3aaab;
    }
}

.header {
    margin: 30px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.key_flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .key__word {
        border-radius: 13px;
        margin: 6px 12px 6px 0px;
        background-color: #f65038;
        h4 {
            font-size: 14px;
            margin: 6px 13px;
            color: #fff;
        }
    }
    .key_add {
        background-color: #fff;
        border: #f65038 1px solid;
        h4 {
            font-size: 14px;
            color: #f65038;
        }
    }
}

.add_key {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ion-input {
        --padding-start: 15px;
        --padding: 15px;
        width: 60%;
        height: 50px;
        border: 1px #969696 solid;
        border-radius: 10px;
        margin: 10px auto;
    }
    .add__new_key {
        width: 25%;
        height: 40px;
        border-radius: 13px;
        margin: 15px 12px 0px 15px;
        background-color: #000;
        text-align: center;
        h4 {
            font-size: 14px;
            margin: 10px auto;
            color: #fff;
        }
    }
    ion-icon {
        margin: auto 0;
    }
}

.search {
    ion-input {
        --padding-start: 30px;
        --padding: 30px;
        width: 100%;
        height: 50px;
        border: 1px #969696 solid;
        border-radius: 10px;
        margin: 10px auto;
    }
}

.result__word {
    margin: 30px 5px;
}

.turnOnOff {
    display: none;
}

.result_list {
    .result__items {
        display: flex;
        flex-direction: row;
        border-bottom: #969696 1px solid;
        padding-bottom: 20px;
        label {
            display: block;
        }
        .result__conteiner {
            display: flex;
            justify-content: space-between;
        }
        .forward_icon {
            color: #969696;
            font-size: 20px;
            margin: auto 4px;
        }
    }
    .result_item {
        display: flex;
        flex-direction: column;
        h4 {
            margin-top: 0px;
        }
    }
}

.list {
    .list__item {
        height: 50px;
        margin: 12px 0px;
        --border-radius: 10px;
        --background: #f4f4f4;
        --border-style: 0px;
        ion-label {
            color: #7b7676;
        }
    }
}