ion-content {
    --background: #f64f38;
}

.conteiner {
    height: 100%;
    align-items: center;
    .conteiner__icon {
        height: 90%;
        margin: auto 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 30px;
        }
        .white {
            color: #fff;
        }
        .black {
            color: #000;
        }
    }
    .footer {
        text-align: center;
        h4 {
            margin-top: 10px;
            color: #fff;
            margin: 0px 0px;
        }
        h6 {
            margin-top: 10px;
            margin: 0px 0px;
            color: #fff;
        }
    }
}